{% extends "base_table.html" %}

{% block content %}
<tr>
    <form class="hidden" method="post" action="{{ url_for('department.add_done_department')}}">
        <td><input type="text" id="name" name="name" value="{% if session['name'] %}  {{ session.pop('name') }}
        {% endif %}" required></td>
        <td><input type="email" id="email" name="email" value="{% if session['email'] %}  {{ session.pop('email') }}
        {% endif %}"></td>
        <td>
            <button class="btn_sub">Submit</button>
        </td>
    </form>
</tr>
{% endblock %}