<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<header>
    <div class="headerLink">
        <a href="{{ url_for('department.show_all_departments')}}">Departments</a>
        <a href="{{ url_for('employee.show_all_employees')}}">Employees</a>
    </div>
</header>

<h3>{{ table_title }}</h3>
{% block search %}
{% endblock %}
{% block add %}
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="flush">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="main">
    <table>
        <tr>
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% block content %}
        {% endblock %}
    </table>
</div>

<script>
    document.getElementById("delete").onclick = function () {
        let form  = document.getElementById('delete_form');
        if (confirm("After this action all employees from this department will be deleted too. Are you sure?")) {
            form.submit();
        } else {
            event.preventDefault();
        }
    };

    var today = new Date()
    var day = today.getDate();
    var month = today.getMonth()+1;
    var year = today.getFullYear()-18;
    if(day<10){
        day='0'+day
    }
    if(month<10){
        month='0'+month
    }

    today = year+'-'+month+'-'+day;
    document.getElementById('birthday').setAttribute("max", today);
    document.getElementById('start_b').setAttribute("max", today);
    document.getElementById('end_b').setAttribute("max", today);
</script>
</body>
</html>