{% extends "base_table.html" %}

{% block content %}
<tr>
    <td>{{ department.name }}</td>
    <td>{{ department.avg_salary }} $</td>
    <td>{{ department.count_employees }}</td>
    <td>{{ department.email }}</td>
    <td>
        <form class="hidden" method="get" action="{{ url_for('department.update_department', id_=department.id)}}">
            <button class="btn_edit">Update</button>
        </form>
        <br>
        <form class="hidden" method="post" id="delete_form" action="{{ url_for('department.delete_department', id_=department.id)}}">
            <button id="delete" class="btn_del">Delete</button>
        </form>
    </td>
</tr>
{% endblock %}

