{% extends "base_table.html" %}

{% block add %}
<form class="hidden" method="get" action="{{ url_for('department.add_department')}}">
    <button class="btn_add">Add department</button>
</form>
{% endblock %}

{% block content %}
{% for department in departments %}
<tr>
    <td><a href="{{ url_for('department.show_department', id_=department.id)}}">{{ department.id }}</a></td>
    <td><a href="{{ url_for('department.show_department', id_=department.id)}}">{{ department.name }}</a></td>
    <td>{{ department.avg_salary }} $</td>
    <td>{{ department.count_employees }}</td>
</tr>
{% endfor %}
{% endblock %}

