{% extends "base_table.html" %}

{% block flash %}
    {% if get_flashed_messages() %}
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                  <p class="flush">{{ message }}</p>
            {% endfor %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block content %}
<tr>
    <form class="hidden" method="post" action="{{ url_for('department.update_department', id_=department.id)}}">
        <td><input type="text" id="name" name="name" value="{{ department.name }}" size="5" required></td>
        <td>{{ department.avg_salary }}</td>
        <td>{{ department.count_employees }}</td>
        <td><input type="text" id="email" name="email" value="{{ department.email }}"></td>
        <td>
            <button class="btn_sub">Submit</button>
        </td>
    </form>
</tr>
{% endblock %}