{% extends "base_table.html" %}

{% block search %}

<div class="search">
    <form action="{{ url_for('employee.show_employees_birthday', start=start, end=end)}}">
        <label for="start_b">Find by birthday: between </label>
        <input type="date" id="start_b" name="start" value={% if start %} "{{ start }}" {% endif%}>
        <label for="end_b"> and </label>
        <input type="date" id="end_b" name="end" value={% if end %} "{{ end }}" {% endif%}>
        <button class="btn_search">Find</button>
        <button class="btn_search" formaction="{{ url_for('employee.show_all_employees')}}">Reset</button>
    </form>
</div>
<p>{{ message }}</p>
{% endblock %}

{% block add %}
<form class="hidden" method="get" action="{{ url_for('employee.add_employee')}}">
    <button class="btn_add">Add employee</button>
</form>
{% endblock %}

{% block content %}
{% for employee in employees %}
<tr>
    <td><a href="{{ url_for('employee.show_employee', id_=employee.id)}}">{{ employee.name }}</a></td>
    <td>{{ employee.birthday }}</td>
    <td>{{ employee.department.name }}</td>
</tr>
{% endfor %}
{% endblock %}

