<!DOCTYPE html>
<html lang="en">
<head>
	<title>Departments</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/styles.css">
</head>

<body>
  <header>
    <div class="headerLink">
    	<a href="./departments.html">Departments</a>
    	<a href="./employees.html">Employees</a>
    </div>
  </header>
  <div class="main">
    <table>
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Birth date</th>
        <th>Salary</th>
      </tr>
      <tr>
        <td>Mary Johnes</td>
        <td>HR</td>
        <td>1995/04/09</td>
        <td>30.000</td>
      </tr>
      <tr>
        <td>Emily Johnes</td>
        <td>IT</td>
        <td>1991/01/01</td>
        <td>30.000</td>
      </tr>
      <tr>
        <td>Viktor Johnes</td>
        <td>Sales&Marketing</td>
        <td>1989/09/09</td>
        <td>30.000</td>
      </tr>

    </table>
  </div>
</body>
</html>